DJANGO_SETTINGS_MODULE=task_management_system.settings.development
SECRET_KEY=<your-django-secret-key>
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0

SQL_ENGINE=django.db.backends.postgresql
SQL_DB=<your-db-name>
SQL_USER=<your-db-user>
SQL_PASSWORD=<your-db-password>
SQL_HOST=db-dev
SQL_PORT=5432

JWT_SECRET_KEY=<your-jwt-secret-key>

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_HOST_USER=<your-mailtrap-user>
EMAIL_HOST_PASSWORD=<your-mailtrap-password>

TF_VAR_owner_id=<owner_id>
TF_VAR_aws_region=<aws-server-region>
